.Split2 {
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    margin-top: 41px;
    flex-shrink: 0;
}
.splitLeft {
    /* background-color: hsl(160, 100%, 75%); */
    width: 238px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
}
.splitRight {
    margin-left: 24px;
    /* background-color: hsl(271, 76%, 83%); */
}